@import "../../node_modules/bulma/bulma";

a,
input,
textarea,
tr,
svg {
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s,
    outline 0.2s;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app header.section {
  padding-bottom: 0;
}

main,
.not-found {
  flex-grow: 1;
}

.landing {
  background: linear-gradient(
      to right bottom,
      rgba($info, 0.5),
      rgba($black, 0.75)
    ),
    url("/img/bg-landing.jpg") center center;
  background-size: cover;
}

.landing .hero-body {
  display: flex;
  align-items: center;
}

.landing .hero-buttons {
  margin-top: 3rem;
}

.navbar .image {
  margin-right: 0.5rem;
}

.footer {
  padding-top: 6rem;
}

.displaySocialInputs {
  margin-top: 2rem;
}

.profile-action .icon {
  margin-bottom: 1rem;
}

.profile-actions a.box:hover,
.profile-actions a.box:focus {
  background-color: lighten($info, 25%);
  box-shadow: 0 0 0 3px $info;
}

.profile-actions a.box:hover .icon,
.profile-actions a.box:hover .subtitle {
  color: darken($info, 20%) !important;
}

.profile-actions a.box.action-delete:hover,
.profile-actions a.box.action-delete:focus {
  background-color: $danger;
  box-shadow: 0 0 0 3px $danger;
}

.profile-actions a.box.action-delete:hover .icon,
.profile-actions a.box.action-delete:hover .subtitle {
  color: $danger-invert !important;
}

[class$="summary"] {
  margin-top: 3rem;
}

.profile-list .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-list .card small:not(:last-of-type) {
  display: inline-block;
  margin-right: 0.5rem;
}

.profile-list .card-footer {
  margin-top: auto;
}

.profile-list .card-header-icon {
  cursor: default;
}

.profile-view .hero .hero-body {
  padding: 6rem 0 3rem 0;
}

.hero .avatar {
  justify-content: center;
  margin-bottom: 1.5rem;
}

.hero .profile-social-media-icons {
  margin-top: 1.5rem;
}

.profile-social-media-icons a {
  padding: 0.5rem;
  margin: 0.5rem;
}

.section-credentials .experience-item,
.section-credentials .education-item {
  margin-bottom: 1.5rem;
}

.post-like {
  cursor: pointer;
  padding-right: 0.5rem;
}

.post-like.has-text-success {
  cursor: default;
}

.posts .media-right .delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.post .media-left .title,
.posts .media-left .title {
  margin-top: 0.5rem;
}
